body {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
}

.btn-num {
    color: white;
    font-style: "Times New Roman";
}

.flex-col {
    display: flex;
    flex: 1;
}
